*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Device Manager / AVD
.idea/deviceManager.xml
.idea/avd.xml
.idea/devices.xml


# Firebase
google-services.json